.switch-button-off{
        -fx-background-color: #c24545;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
        -fx-font-size: 20;
        -fx-pref-width: 200;
        -fx-pref-height: 80;
        -fx-alignment: center;
}

.slider-label{
        -fx-background-color: #a44444;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
        -fx-font-size: 20;
        -fx-pref-width: 200;
        -fx-pref-height: 40;
        -fx-alignment: center;
}

.slider{
        -fx-background-color: #a44444;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
}
.slider .thumb {
        -fx-background-color: #ff0000;
}
.slider .axis {
        -fx-tick-label-fill: #ffffff;
}

.switch-button-on{
        -fx-background-color: #882525;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
        -fx-font-size: 20;
        -fx-pref-width: 200;
        -fx-pref-height: 80;
        -fx-alignment: center;
}

.highlight-page-button{
        -fx-background-color: #ce2b2b;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
        -fx-font-size: 20;
        -fx-pref-width: 200;
        -fx-pref-height: 80;
        -fx-alignment: center;
}

.log-out-button{
        -fx-background-color: #b22a15;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
        -fx-font-size: 20;
        -fx-pref-width: 200;
        -fx-pref-height: 80;
        -fx-alignment: center;
}

.highlight-log-out-button{
        -fx-background-color: #b24937;
        -fx-font-family: "Bell MT";
        -fx-text-fill: #ffffff;
        -fx-font-size: 20;
        -fx-pref-width: 200;
        -fx-pref-height: 80;
        -fx-alignment: center;
}
