.period_button{
    -fx-background-color: #F0F8FF;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-pref-height: 40;
    -fx-text-alignment: center;
}
.period-button-highlighted{
    -fx-background-color: #d1eeff;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-pref-height: 40;
    -fx-text-alignment: center;
}