.report-by{
    -fx-background-color: #475B63;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-min-width: 824;
    -fx-min-height: 40;
}
.time-period-button{
    -fx-background-color: #729B79;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-min-width: 824;
    -fx-min-height: 40;
    -fx-border-color: #000000;
}
.time-period-button-highlighted{
    -fx-background-color: #BACDB0;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-min-width: 824;
    -fx-min-height: 40;
    -fx-border-color: #000000;
}
.chart-area{
    -fx-pref-height: 700;
    -fx-pref-width: 824;
    -fx-background-color: #F3F3F3;
    -fx-alignment: center;
}
.chart{
    -fx-padding: 30;
    -fx-bar-gap: 30;
}
.default-color0.chart-bar { -fx-bar-fill: #788585; }
.default-color1.chart-bar { -fx-bar-fill: #2FBF71; }
.default-color2.chart-bar { -fx-bar-fill: #ED7D3A; }
.default-color3.chart-bar { -fx-bar-fill: #EF2D56; }
