.sort-by{
    -fx-background-color: #475B63;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-min-width: 824;
    -fx-min-height: 40;
}

.sort-button{
    -fx-background-color: #729B79;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-min-width: 824;
    -fx-min-height: 40;
    -fx-border-color: #000000;
}

.sort-button-highlighted{
    -fx-background-color: #BACDB0;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-min-width: 824;
    -fx-min-height: 40;
    -fx-border-color: #000000;
}