.sort-by{
    -fx-background-color: #414141;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-min-width: 600;
    -fx-min-height: 40;
}

.sort-button{
    -fx-background-color: #25aab7;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-min-width: 600;
    -fx-min-height: 40;
    -fx-border-color: #000000;
}