.default-grid-pane{
    -fx-pref-height: 700;
    -fx-pref-width: 824;
    -fx-background-color: #FAFAFF;
}

.task-text-field{
    -fx-pref-height: 40;
    -fx-font-size: 25px;
}

.hour-picker{
    -fx-text-fill: #000000;
    -fx-font-size: 25px;
    -fx-pref-height: 40;
    -fx-pref-width: 100;
}

.hour-picker-bad{
    -fx-text-fill: #ce0e0e;
    -fx-font-size: 25px;
    -fx-pref-height: 40;
    -fx-pref-width: 100;
}

.date-picker{
    -fx-font-size: 25px;
    -fx-pref-width: 200;
}


.date-selector{
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-pref-width: 200;
}

