.over-date{
    -fx-text-fill: #ce0e0e;
    -fx-font-size: 20px;
    -fx-font-family: "Bell MT Bold";
}

.before-date{
    -fx-text-fill: #20834D;
    -fx-font-size: 20px;
    -fx-font-family: "Bell MT Bold";
}

.neutral-date{
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-font-family: "Bell MT Bold";
}

.top-bottom-margin{
    -fx-start-margin: 20,0,20,0;
}

.vbox-style{
    /*-fx-text-alignment: center;*/
    /*-fx-alignment: center;*/
}

.instance{
    -fx-font-family: "Bell MT";
    -fx-text-fill: #ffffff;
    -fx-font-size: 26px;
    -fx-pref-height: 80;
    -fx-text-alignment: center;
}

.equal-instance{
    -fx-background-color: #EEF0F2;
}

.odd-instance{
    -fx-background-color: #DADDD8;
}