.over-date{
    -fx-text-fill: #ce0e0e;
    -fx-font-size: 16px;
}

.before-date{
    -fx-text-fill: #11ce13;
    -fx-font-size: 16px;
}

.neutral-date{
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.top-bottom-margin{
    -fx-start-margin: 20,0,20,0;
}

.vbox-style{
    -fx-pref-width: 500;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.instance{
    -fx-pref-width: 600;
    -fx-pref-height: 80;
    -fx-background-color: #af9019;
    -fx-alignment: center;
    -fx-border-color: #000000;
}